body {
    margin: 0 auto;
    background-image: url(img/basictile.png);
    background-repeat: repeat;
}
.header {
    background: darkcyan;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
  
.logo {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 900;
    font-style: bolder;
    margin-left: 100px;
  }
  
button {
    border: none;
    border-radius: 8px;
    background: rebeccapurple;
    padding: 8px 24px;
  }
  
a {
    /* this removes the line under our links */
    text-decoration: none;
  }

img {
    max-height: 50px;
    max-width:  50px;
}
  
ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    margin-right: 100px;
  }

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

#wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
}
.score {
    background-color: #FF7755;
  }
  
.score ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
.score ul li {
    font-size: 16px;
    text-transform: uppercase;
  }

.container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px;
    height: 600px;
    width: 600px;
}
